#main {
    height: 100%;
    width: 100%;
    margin-top: 200px;
}
#Aadhaar_input {
    width: 355px;
    height: 35px;
    font-size: 28px;
}
#label_text, #val_disp,#loading {
    font-size: 30px;
}
#button,#val_disp,#loading {
    margin-left: 10px;
}
#button,#button_clear {
    padding: auto;
    width: 355px;
    height: 35px;
    background-color: #ffffff;
    font-size: 20px;
    margin-top: 25px;
}
/* Styles for desktop devices */
@media (min-width: 992px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
}

/* Styles for tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
        margin: 0 auto;
    }
}

/* Styles for mobile devices */
@media (max-width: 767px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 10px;
    }
}


